<html>
<head>
  <link rel='stylesheet' href='{{ url_for("static", filename="reset.css") }}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> 

  <link rel='stylesheet' href='{{ url_for("static", filename="index.css") }}'>

</head>

<body>
    <div id="container">
      <div id="panel"> 
        <div class="dropdown">
          <h1 id="twittmap"> TwittMap </h1>
          <h2 id="choosetag"> Choose a tag: </h2>
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Tag Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#"> Tag 1 </a></li>
            <li><a href="#"> Tag 2 </a></li>
            <li><a href="#"> Tag 3 </a></li>
            <li><a href="#"> Tag 4 </a></li>
            <li><a href="#"> Tag 5 </a></li>
            <li><a href="#"> Tag 6 </a></li>
            <li><a href="#"> Tag 7 </a></li>
            <li><a href="#"> Tag 8 </a></li>
            <li><a href="#"> Tag 9 </a></li>
            <li><a href="#"> Tag 10 </a></li>
          </ul>
        </div>
      </div>

      <div id="map"></div>
    </div>
    <script type="text/javascript">
      var map;
      function initMap() {
        var width = $("#map").width();
        console.log(width);
        var zoom = Math.floor(Math.log2(width) - 7);
        console.log(zoom);
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.8075, lng: -73.9619},
          zoom: zoom
        });
      }

      $(function(){

        $(".dropdown-menu li a").click(function(){
          var value = $(this).text();
          $("#dropdownMenu1").text(value);
          $("#dropdownMenu1").val(value);
          $("#dropdownMenu1").append('<span class="caret"></span>');
          $.ajax({
            method: "GET",
            url: "/search",
            data: { keyword: value},
            success: function(results){
              console.log(results);
              JSON.parse(results);
            }
          });
       });

    });
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVNUbAwv-DUN23AlnPjJCXV8M35Jr-6xo&callback=initMap">
    </script>

</body>


</html>
