<html>
<head>
  <!-- CSS Reset -->
  <link rel='stylesheet' href='{{ url_for("static", filename="reset.css") }}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> 

  <link rel='stylesheet' href='{{ url_for("static", filename="index.css") }}'>

</head>

<body>
    <div id="container">
      <!-- Left Side of Page -->
      <div id="panel"> 
        <div class="dropdown">
          <h1 id="twittmap"> TwittMap </h1>
          <h2 id="choosetag"> Choose a tag: </h2>
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Tag Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#"> a </a></li>
            <li><a href="#"> b </a></li>
            <li><a href="#"> c </a></li>
            <li><a href="#"> d </a></li>
            <li><a href="#"> Tag 5 </a></li>
            <li><a href="#"> Tag 6 </a></li>
            <li><a href="#"> Tag 7 </a></li>
            <li><a href="#"> Tag 8 </a></li>
            <li><a href="#"> Tag 9 </a></li>
            <li><a href="#"> Tag 10 </a></li>
          </ul>
        </div>
      </div>
      <!-- Right Side of Page -->
      <div id="map"></div>
    </div>

    <!-- JavaScript Functions -->
    <script type="text/javascript">
      
      // Create the Map and initialize map click search handler
      var map;
      function initMap() {
        var width = $("#map").width();
        var zoom = Math.floor(Math.log2(width) - 7);
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.8075, lng: -73.9619},
          zoom: zoom
        });

        google.maps.event.addListener(map, "click", function (event) {
          console.log("here");
          var latitude = event.latLng.lat();
          var longitude = event.latLng.lng();
          $.ajax({
              method: "GET",
              url: "/within_radius",
              data: { lat: latitude, lon: longitude },
              success: function(results){
                show_results(results);
            }
          });
        });
      }

      // Add handler for tag search
      $(function(){
        $(".dropdown-menu li a").click(function(){
          var value = $(this).text();
          $("#dropdownMenu1").text(value);
          $("#dropdownMenu1").val(value);
          $("#dropdownMenu1").append('<span class="caret"></span>');
          $.ajax({
            method: "GET",
            url: "/search",
            data: { keyword: value},
            success: function(results){
              show_results(results);
            }
          });
       });
    });

    // Remove all markers from the map
    var markers = [];
    function removeMarkers(){
      var i;
      for(i = 0; i < markers.length; i++){
          markers[i].setMap(null);
      }
    }

    // Parse results and show markers on the map
    function show_results(results){
      console.log(results);
      removeMarkers(null);
      markers = [];
      var i;
      for (i = 0; i < results["results"].length; i++){
        var lon = results["results"][i]["_source"]["coordinates"]["coordinates"][0];
        var lat = results["results"][i]["_source"]["coordinates"]["coordinates"][1];
        var latlng = {lat: lat, lng: lon};
        var marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
        markers.push(marker);
        var text = results["results"][i]["_source"]["text"];
        var user = results["results"][i]["_source"]["user"]["screen_name"];
        var tweet_link = "https://twitter.com/statuses/" + results["results"][i]["_source"]["id_str"];
        var user_link = "https://twitter.com/" + user;
        var content_str = "<div><a href=" + tweet_link +"><p> " + text + "\n</p></a>" 
                          + "<p> by: <a href=" + user_link +"> " + user +  "\n</a></p></div>";
        // Create and add info window to markers
        var infowindow = new google.maps.InfoWindow({
          content: content_str
        });
        (function(a,b,c) { 
          b.addListener('click', function() {
          c.open(a, b);
        });})(map, marker, infowindow);
      }
    }

    </script>
    <!-- Link in Google Maps API -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVNUbAwv-DUN23AlnPjJCXV8M35Jr-6xo&callback=initMap">
    </script>

</body>


</html>
